.env
.env.*
!.env.example
!backend/.env.example
!mobile/.env.example
*.log

backend/.env
mobile/.env
backend/tmp/
backend/.gocache/
backend/uploads/
arduino/**/.build/
.idea/
.vscode/
*.swp
.DS_Store

mobile/.dart_tool/
mobile/.idea/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
